.app__about .app__wrapper_img {
  justify-content: flex-start;
}
.app__about h1 {
  padding-bottom: 2rem;
}
.app__about-data {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}

@media screen and (max-width: 1199px) {
  .app__about .app__wrapper_img {
    justify-content: center;
  }
}
